*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    src: url(../font/stc.otf);
    font-family:dubai;
}



/*--------- load --------------*/
.lds-roller {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0799e9;
    z-index: 1;
    margin-top: -15px;
    padding-top: 250px;
    padding-left: 650px;
}

.lds-roller div {
animation: lds-roller 1.3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  



/* @import  url(https://fonts.googleapis.com/css?family=Montserrat);


body {
    position: relative; 
    width: 100%;
    height: 100vh;
    font-family: Montserrat;
}

.wrap {
    display: inline-block;
    position: fixed;
    width: 100%;
    height:100%;
    background-color: #0799e9;
    z-index: 3;
    margin-top: -15px;
    padding-top: 280px;
    padding-left: 650px;
}

.loading {
    display: flex;
}

.text {
    color: #fbae17;
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;
}

.all-bal {
    display: flex;
    justify-content: space-between;
    width: 25px;
    margin-top: 5px;
}

.bounceball {
    position: relative;
    height: 37px;
    width: 5px;
}

.bounceball:before {
    position: absolute;
    content: '';
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
}

.bouncebal2 {
    position: relative;
    height: 37px;
    width: 5px;
}

.bouncebal2::before {
    position: absolute;
    content: '';
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 400ms alternate infinite ease;
}

.bouncebal3 {
    position: relative;
    height: 37px;
    width: 5px;
}

.bouncebal3::before {
    position: absolute;
    content: '';
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 300ms alternate infinite ease;
}



 @keyframes bounce {
    0% {
    top: 10px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
}
    35% {
    border-radius: 50%;
    transform: scaleX(1);
}
    100% {
    top: 0;
}
} */




/* .lds-hourglass {
    display: inline-block;
    position: fixed;
    width: 100%;
    height:100%;
    background-color: #0799e9;
    z-index: 3;
    margin-top: -15px;
    padding-top: 280px;
    padding-left: 650px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
} */

/*-------------------- img-close-page -------------------*/
.img-close-page {
    margin-top: 15px;
    margin-left: 15px;
}


/*--------------- register --------------------*/
.register {
    height: 450px;
    width: 600px;
    margin-left: 380px;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0 4px 24px 0 rgb(22 20 18 / 15%); 
}

.register img {
    height: 100px;
    width: 160px;
    margin-left: 223px;
    margin-top: 20px;
}

.register h1 {
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}

.register-information {
    display: flex;
    width: 600px;
    justify-content: space-evenly;
}

#first-name {
    height: 40px;
    width: 200px;
    text-align: right;
    padding-right: 5px;
    margin-top: 20px;
    border: 1px solid #0799e9;
    border-radius: 5px;
    font-size: 15px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#last-name {
    height: 40px;
    width: 200px;
    text-align: right;
    padding-right: 5px;
    margin-top: 20px;
    border: 1px solid #0799e9;
    border-radius: 5px;
    font-size: 15px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#input-email {
    height: 40px;
    width: 200px;
    text-align: right;
    padding-right: 5px;
    margin-top: 20px;
    border: 1px solid #0799e9;
    border-radius: 5px;
    font-size: 15px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#input-paassword {
    height: 40px;
    width: 200px;
    text-align: right;
    padding-right: 5px;
    margin-top: 20px;
    border: 1px solid #0799e9;
    border-radius: 5px;
    font-size: 15px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#phone-number {
    height: 40px;
    width: 200px;
    text-align: right;
    padding-right: 5px;
    margin-top: 20px;
    border: 1px solid #0799e9;
    border-radius: 5px;
    font-size: 15px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

/* 3 */
.btn-3 {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    height: 40px;
    width: 230px;
    margin-left: 190px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 17px;
    line-height: 42px;
    padding: 0;
    border: none;
    
}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover{
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover{
    color: rgba(2,126,251,1);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}


